/* root variables */
/* :root {
  --navy: #defcf9;
  --purple: #cadefc;
  --pink: #c3bef0;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --white: rgb(253, 226, 243);
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/

/* .first-color { 
	background: #defcf9; 
}
	
.second-color { 
	background: #cadefc; 
}

.third-color { 
	background: #c3bef0; 
}

.fourth-color { 
	background: #cca8e9;  */

html {
  background-color: #defcf9;
  color: var(--text-color-dark);
  font-family: var(--font-family);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-block-start: 0.1em;
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  text-align: center;
  margin-block-start: 0.2em;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}

a {
  cursor: pointer;
  color: var(--navy);
}

img {
  width: 100%;
  height: auto;
}

/* header styling */
header {
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  background-color: #cadefc;
  padding: 2em;
  display: flex;
  grid-template-columns: 1fr;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  word-spacing: 1.5em;
  letter-spacing: 1px;
}

/* footer styling */

footer {
  background-color: #c3bef0;
  color: var(--text-color-dark);
  padding: 1em;
  text-align: center;
}

/* main page styling */
main {
  background: var(--purple);
  animation: fadeIn 0.4s;
  padding: 190px 0 0;
}

/* nav {
  /* border-bottom: 2px solid black;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 2em;
  display: flex;
  grid-template-columns: 1fr;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif; */
/* } */

.filter-grid {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.filter-grid-2 {
  border-bottom: 1.5px solid black;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* grid container styling */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* cancel button */

.cancel-btn-div {
  grid-area: 1 / 2 / 2 / 3;
  margin: 0;
  padding: 0;
  background-color: var(--navy);
}
.cancel-btn {
  border-radius: 100%;
  background-color: var(--navy);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.cancel-btn-div {
  display: flex;
  justify-content: center;
  border-radius: 40%;
  position: absolute;
  top: 4%;
  left: 1%;
}

/* grid item styling */

.grid-item {
  box-shadow: 1px 1px 8px var(--navy);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 15%;
}

.grid-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15%;
}

.grid-item-user {
  box-shadow: 1px 1px 8px var(--navy);
  padding: 1.5em;
  background-color: #cadefc;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 10%;
}

.grid-item-user img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
  cursor: pointer;
}

.grid-item-user img:hover {
  box-shadow: 0 8px 32px 2px;
}

#form-create-user > input[type="submit"] {
  border-radius: 80%;
}
.grid-item p {
  margin: 0.3em 0;
}

.grid-item h3:first-letter,
.grid-item p:first-letter {
  text-transform: uppercase;
}

/* buttons in grid container */

.grid-container .btns {
  padding: 1em 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid-container .btns button {
  width: 100%;
}

.grid-container .btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.btn {
  font-size: 22px;
  margin: 20px;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.navy {
  background-color: var(--navy);
  box-shadow: 3px 5px 5px var(--white);
  padding: 20px 0px;
}

.navy:hover {
  background-color: var(--purple);
  padding: 20px 60px;
}

#dialog-close-btn {
  position: fixed;
  cursor: pointer;
  color: black;
  left: 67.5%;
  top: 7.5%;
  font-size: 1.5em;
}

#dialog-image {
  object-fit: cover;
  object-position: top;
  align-self: center;
  height: 400px;
  border: solid #373b44;
  border-radius: 8px;
}

#create-user-btn,
#form-create-btn,
#btn-no,
.btn-delete,
.btn-update {
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--navy);
  color: var(--text-color-light);
  background-color: var(--navy);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  width: 80%;
  max-width: 380px;
  border-radius: 3%;
  border: 2px solid black;
}

header button {
  color: var(--navy);
  background-color: var(--purple);
  box-shadow: 1px 1px 8px var(--white);
  padding: 20px 10px;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  border: 2px solid black;
  background: var(--white);
}

label {
  margin-top: 10%;
}

select {
  background-color: var(--navy);
  border: none;
  color: var(--text-color-light);
  padding: 1em;
  margin-left: 3em;
  max-width: 350px;
}

#sort {
  border: 2px solid black;
}

/* dialog styling */

form button {
  grid-column: 1 / 1;
}

dialog {
  border-color: var(--navy);
  background-color: #c3bef0;
  width: 40%;
  height: 80%;
  padding: 2em 1em;
}

dialog::backdrop {
  background: rgb(172, 198, 201, 0.8);
}

.dialog-grid {
  display: grid;
  grid-template-columns: 1fr;
}

dialog h4 {
  margin-bottom: 0;
}
dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
}
dialog p {
  text-align: center;
}

button.btn-delete:hover {
  background-color: #ea5045;
  box-shadow: 0 4px 8px 2px;
}

button.btn-update:hover {
  background-color: rgb(96, 241, 149);
  box-shadow: 0 4px 8px 2px;
}

/* tools grid styling */

.tools-grid {
  background-color: var(--pink);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  justify-items: stretch;
}

@media (min-width: 600px) {
  .tools-grid {
    grid-template-columns: auto auto auto;
  }
}

.tools-grid label,
.tools-grid div {
  max-width: 350px;
  margin: 0px 20px;
}
/* Delete */
#delete-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#delete-grid * {
  margin: 5px;
  width: 90%;
}

#form-create-user,
#form-update-user,
#form-delete-user {
  margin: 2em auto 0;
  background-color: var(--light-green);
  padding: 1em 1em 2em;

  font-size: larger;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

/* input form styling */
/*form {
  margin: 2em auto 0;
  background-color: var(--purple);
  padding: 1em 1em 2em;
  text-align: center;
}*/
